@import'../variables.scss';

.flowergrid__loading {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  h3 {
    margin-top: 3rem;
    font-weight: 400;
  }
}

.flowergrid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.flowergrid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.flowergrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  row-gap: 8.2rem;
  column-gap: 6rem;
  width: 100%;
  @media (max-width: 81.25rem) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 5.2rem;
  }
  @media (max-width: 38.75rem) {
    grid-template-columns: 1fr;
  }
  .flowergrid__item {
    font-size: 1.2rem;
    position: relative;
    .flowergrid__item-image {
      height: 100%;
      width: 100%;
    }
    .flowergrid__item-badge {
      position: absolute;
      width: 4.5rem;
      height: 4.5rem;
      right: 0.625rem;
      top: 0.625rem;
      transform: rotateZ(30deg);
    }
    .flowergrid__item-content {
      padding: 0.5rem;
      border: 1px solid $black;
      display: flex;
      justify-content: space-between;
      .flowergrid__item-name {
        margin-right: 1rem;
      }
      .flowergrid__item-prices {
        display: flex;
        .flowergrid__item-regular {
          color: $red;
          text-decoration: line-through;
          margin-left: 1rem;
        }
        .flowergrid__item-sale {
          color: $green;
        }
      }
    }
  }
  .flowergrid__item:hover {
    cursor: pointer;
  }
}