@import '../variables.scss';

header {
  width: 100%;
  padding: 2rem 0;
  .header__title {
    display: flex;
    align-items: center;
    .header__content {
      margin: 0 auto;
      display: flex;
      position: relative;
      h1 {
        font-size: 3rem;
        font-weight: 400;
        text-decoration: underline;
        color: $black;
      }
      .header__flower {
        width: 6rem;
        height: 5rem;
        position: absolute;
        left: -100;
        top: 20;
      }
    }
  }
  .header__cart-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    .header__cart {
      width: 3rem;
      height: 3rem;
      position: absolute;
      right: 5;
      bottom: 32.5;
      cursor: pointer;
    }
    .header__cart-count {
      display: flex;
      flex-direction: column;
      position: absolute;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      padding: 0.5rem;
      background: $red;
      align-items: center;
      justify-content: center;
      color: $white;
      right: -10;
      bottom: 60;
    }
  }
}