@import './variables.scss';

html {
    position: relative;
    font-family: $font;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: $background;
    margin: 0;
}

#app {
    margin: 0 auto;
    max-width: 100rem;
    padding: 1.0875rem 1.45rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
   height: 1.5rem;
   cursor: pointer;
   @media(max-width: 40.625rem) {
    opacity: 0;
    cursor: default;
  }
}
