@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
$font: 'Montserrat', sans-serif;
$font-size: 1rem;
$black: #000;
$white: #fff;
$grey: #808080;
$light-grey: #A4A4A4;
$dark-white: #efefef;
$red:#FF0000;
$green: #006400;
$light-blue: #bcdcdb;
$dark-blue: #023440;
$background: #fdfdf9;
$phone: 28.125rem;
$tablet: 62.5rem;